<header class="-md-5 mt-5">
    <img id="logo" src="./assets/logo/dream-apps.png" />
    <nav class="navgation">
        <ul>
            <li class="non-mega titulo">
                <a routerlink="">SOLUCIONES</a>
                <ul>
                    <li class="medio">
                        <a routerlink="">SERVICIOS INFORMÁTICOS</a>
                        <ul class="peque">
                            <li>
                                <a routerlink="">Redes y Sistemas</a>
                            </li>
                            <li>
                                <a routerlink="">Dominios</a>
                            </li>
                            <li>
                                <a routerlink="">Housing</a>
                            </li>
                            <li>
                                <a routerlink="">Certificado SSL</a>
                            </li>
                            <li>
                                <a routerlink="">Backup Remoto</a>
                            </li>
                        </ul>
                    </li>

                    <li class="medio">
                        <a routerlink="">SOFTWARE DE GESTIÓN</a>
                        <ul class="peque">
                            <li>
                                <a routerlink="">ERP Business</a>
                            </li>
                            <li>
                                <a routerlink="">ERP Facturación</a>
                            </li>
                            <li>
                                <a routerlink="">TPV Comercio</a>
                            </li>
                            <li>
                                <a routerlink="">TPV Hostelería</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li class="non-mega titulo">
                <a routerlink="">CASH GUARD</a>
                <ul>
                    <li class="medio">
                        <a routerlink="">PRODUCTOS</a>
                        <ul class="peque">
                            <li>
                                <a routerlink="">CashGuard Premium</a>
                            </li>
                            <li>
                                <a routerlink="">Unico</a>
                            </li>
                            <li>
                                <a routerlink="">Compact</a>
                            </li>
                            <li>
                                <a routerlink="">Renting</a>
                            </li>
                            <li>
                                <a routerlink="">Click & Collect</a>
                            </li>
                        </ul>
                    </li>

                    <li class="medio">
                        <a routerlink="">SOPORTE</a>
                        <ul class="peque">
                            <li>
                                <a routerlink="">Soporte Basic</a>
                            </li>
                            <li>
                                <a routerlink="">Soporte Advanced</a>
                            </li>
                            <li>
                                <a routerlink="">Soporte Premium</a>
                            </li>
                        </ul>
                    </li>
                    <li class="medio">
                        <a routerlink="">SECTORES</a>
                        <ul class="peque">
                            <li>
                                <a routerlink="">Hostelería</a>
                            </li>
                            <li>
                                <a routerlink="">Estaciones de servicio</a>
                            </li>
                            <li>
                                <a routerlink="">Farmacias</a>
                            </li>
                            <li>
                                <a routerlink="">Retail</a>
                            </li>
                            <li>
                                <a routerlink="">Estancos</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li class="non-mega titulo">
                <a routerlink="">INTERNET Y MARKETING</a>
                <ul>
                    <li class="medio">
                        <a routerlink="">DESARROLLO WEB A MEDIDA</a>
                        <ul class="peque">
                            <li>
                                <a routerlink="">Implantación de Software</a>
                            </li>
                            <!-- dentro va tienda online -->
                            <li>
                                <a routerlink="">Aplicaciones Web medida</a>
                            </li>
                            <li>
                                <a routerlink="">Web Corrporativa</a>
                            </li>
                            <li>
                                <a routerlink="">Diseño Gráfico</a>
                            </li>
                            <li>
                                <a routerlink="">Mantenimiento</a>
                            </li>
                        </ul>
                    </li>
                    <li class="medio">
                        <a routerlink="">MARKETING ONLINE</a>
                        <ul class="peque">
                            <li>
                                <a routerlink="">SEO / SEM</a>
                            </li>
                            <li>
                                <a routerlink="">Social Media</a>
                            </li>
                            <li>
                                <a routerlink="">Analítica Web</a>
                            </li>
                            <li>
                                <a routerlink="">Planes Marketing</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li class="non-mega titulo">
                <a routerlink="#">SERVICIO TÉCNICO</a>
                <ul>
                    <li class="medio">
                        <a routerlink="">SERVICIO TÉCNICO</a>
                        <ul class="peque">
                            <li>
                                <a routerlink="">Auditoría Informática</a>
                            </li>
                            <li>
                                <a routerlink=""
                                    >Instalación de Redes, Wifi, VPN</a
                                >
                            </li>
                            <li>
                                <a routerlink=""
                                    >Soluciones Cloud y Teletrabajo</a
                                >
                            </li>
                            <li>
                                <a routerlink="">Recuperación de Datos</a>
                            </li>
                        </ul>
                    </li>

                    <li class="medio">
                        <a routerlink="">MANTENIMIENTO</a>
                        <ul class="peque">
                            <li>
                                <a routerlink="">Planes de Mantenimiento</a>
                            </li>
                            <li>
                                <a routerlink="">Soporte Remoto</a>
                            </li>
                        </ul>
                    </li>
                    <li class="medio">
                        <a routerlink="">SEGURIDAD INFORMÁTICA</a>
                        <ul class="peque">
                            <li>
                                <a routerlink="">Distribuidor ESSET</a>
                            </li>
                            <li>
                                <a routerlink="">Firewall</a>
                            </li>
                            <li>
                                <a routerlink="">Seguridad de Sistemas</a>
                            </li>
                            <li>
                                <a routerlink="">Copias de Seguridad</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="non-mega titulo"><a routerlink="#">CONTACTO</a></li>
        </ul>
    </nav>
</header>
