<!-- <script
    src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"
></script>
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"
></script>
<script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"
></script> -->

<header id="header" class="fixed-top">
    <div class="container">

        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <!-- logo -->
            <a href="#" class="logo mr-auto"
            ><img src="./assets/logo/dream-apps.png" alt="" class="img-fluid"
            /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav">
                <span class="navbar-toggler-icon"></span>
            </button>
  <div class="collapse navbar-collapse" id="main_nav">
        <!-- menú -->
            <ul class="navbar-nav">
                <li class="nav-item drop-down">
                    <p class="bold dropdown-toggle" data-toggle="dropdown">SOLUCIONES</p>
                    <ul>
                        <li class="drop-down">
                            <a href="#">SERVICIOS INFORMÁTICOS</a>
                            <ul>
                                <li>
                                    <a class="h6" href="#">Redes y Sistemas</a>
                                </li>
                                <li><a href="#">Dominios</a></li>
                                <li><a href="#">Housing</a></li>
                                <li><a href="#">Certificado</a></li>
                                <li><a href="#">Backup</a></li>
                            </ul>
                        </li>

                        <li class="drop-down">
                            <a href="#">SOFTWARE DE GESTIÓN </a>
                            <ul>
                                <li><a href="#">Business</a></li>
                                <li><a href="#">Facturación</a></li>
                                <li><a href="#">Comercio</a></li>
                                <li><a href="#">Hostelería</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li class="drop-down">
                    <a class="bold" href="">CASH GUARD</a>
                    <ul>
                        <li class="drop-down">
                            <a href="#">PRODUCTOS</a>
                            <ul>
                                <li><a href="#">CashGuard Premium</a></li>
                                <li><a href="#">Unico</a></li>
                                <li><a href="#">Compact</a></li>
                                <li><a href="#">Renting</a></li>
                                <li><a href="#">Click & Collect</a></li>
                            </ul>
                        </li>
                        <li class="drop-down">
                            <a href="#">SOPORTE</a>
                            <ul>
                                <li><a href="#">Soporte Basic</a></li>
                                <li><a href="#">Soporte Advanced</a></li>
                                <li><a href="#">Soporte Premium</a></li>
                            </ul>
                        </li>
                        <li class="drop-down">
                            <a href="#">SECTORES</a>
                            <ul>
                                <li><a href="#">Hostelería</a></li>
                                <li><a href="#">Estaciones de servicio</a></li>
                                <li><a href="#">Farmacias</a></li>
                                <li><a href="#">Retail</a></li>
                                <li><a href="#">Estancos</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li class="drop-down">
                    <a class="bold" href="#">INTERNET Y MARKETING</a>
                    <ul>
                        <li class="drop-down">
                            <a href="#">DESARROLLO WEB A MEDIDA</a>
                            <ul>
                                <li>
                                    <a href="#">Implantación de Software</a>
                                </li>
                                <li><a href="#">Aplicaciones Web medida</a></li>
                                <li><a href="#">Web Corporativa</a></li>
                                <li><a href="#">Diseño Gráfico</a></li>
                                <li><a href="#">Mantenimiento</a></li>
                            </ul>
                        </li>

                        <li class="drop-down">
                            <a class="h4 bold" href="#">MARKETING ONLINE</a>
                            <ul>
                                <li><a href="#">SEO / SEM</a></li>
                                <li><a href="#">Social Media</a></li>
                                <li><a href="#">Analítica Web</a></li>
                                <li><a href="#">Planes Marketing</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li class="drop-down">
                    <a class="bold" href="">SERVICIO TÉCNICO</a>
                    <ul>
                        <li class="drop-down">
                            <a href="#">SERVICIO TÉCNICO</a>
                            <ul>
                                <li><a href="#">Auditoría Informática</a></li>
                                <li>
                                    <a href="#"
                                        >Instalación de Redes, Wifi, VPN</a
                                    >
                                </li>
                                <li>
                                    <a href="#"
                                        >Soluciones Cloud y Teletrabajo</a
                                    >
                                </li>
                                <li><a href="#">Recuperación de Datos</a></li>
                            </ul>
                        </li>
                        <li class="drop-down">
                            <a href="#">MANTENIMIENTO</a>
                            <ul>
                                <li><a href="#">Planes de Mantenimiento</a></li>
                                <li><a href="#">Soporte Remoto</a></li>
                            </ul>
                        </li>
                        <li class="drop-down">
                            <a href="#">SEGURIDAD INFORMÁTICA</a>
                            <ul>
                                <li><a href="#">Distribuidor ESET</a></li>
                                <li><a href="#">Firewall</a></li>
                                <li><a href="#">Seguridad de Sistemas</a></li>
                                <li><a href="#">Copias de Seguridad</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- .nav-menu -->
    </div>
</header>
<!-- End Header -->
