<header class="header text-center b-gris">
    <!-- logo -->
    <div class="w-100">
        <a class="navbar-brand" routerLink="home">
            <img src="./assets/logo/dream-apps.png" alt="logo" />
        </a>
    </div>
    <nav
        class="navbar navbar-expand-lg navbar-expand-md align-center text-wrap"
    >
        <!-- CAMBIO -->
        <button
            class="navbar-toggler w-100"
            type="button"
            data-toggle="collapse"
            data-target="#main_nav"
        >
            <span class="navbar-toggler-icon"
                ><i class="writting c-azul1 h1 text-center"></i></span
            >
        </button>
        <div class="collapse navbar-collapse w-100" id="main_nav">
            <!-- menú -->
            <ul class="navbar-nav w-100 mx-5">
                <!-- menu soluciones -->
                <li class="nav-item dropdown">
                    <p
                        class="h5 nav-link dropdown-toggle"
                        data-toggle="dropdown"
                    >
                        SOLUCIONES
                    </p>
                    <ul class="dropdown-menu">
                        <li>
                            <p
                                class="dropdown-item"
                                routerLink="servicios-informaticos"
                            >
                                SERVICIOS INFORMÁTICOS
                            </p>
                            <ul class="submenu dropdown-menu">
                                <li>
                                    <a
                                        class="dropdown-item"
                                        routerLink="servicios-informaticos/redes-sistemas"
                                        >Redes y Sistemas</a
                                    >
                                </li>
                                <li>
                                    <a
                                        class="dropdown-item"
                                        routerLink="servicios-informaticos/dominios"
                                        >Dominios</a
                                    >
                                </li>
                                <li>
                                    <a
                                        class="dropdown-item"
                                        routerLink="servicios-informaticos/housing"
                                        >Housing</a
                                    >
                                </li>
                                <li>
                                    <a
                                        class="dropdown-item"
                                        routerLink="servicios-informaticos/ssl"
                                        >Certificado</a
                                    >
                                </li>
                                <li>
                                    <a
                                        class="dropdown-item"
                                        routerLink="servicios-informaticos/backup-remoto"
                                        >Backup</a
                                    >
                                </li>
                            </ul>
                        </li>

                        <li>
                            <p
                                class="dropdown-item"
                                routerLink="software-gestion"
                            >
                                SOFTWARE DE GESTIÓN
                            </p>
                            <ul class="submenu dropdown-menu">
                                <li>
                                    <a
                                        class="dropdown-item"
                                        routerLink="software-gestion/erp-business"
                                        >Business</a
                                    >
                                </li>
                                <li>
                                    <a
                                        class="dropdown-item"
                                        routerLink="software-gestion/erp-facturacion"
                                        >Facturación</a
                                    >
                                </li>
                                <li>
                                    <a
                                        class="dropdown-item"
                                        routerLink="software-gestion/tpv-comercio"
                                        >Comercio</a
                                    >
                                </li>
                                <li>
                                    <a
                                        class="dropdown-item"
                                        routerLink="software-gestion/tpv-hosteleria"
                                        >Hostelería</a
                                    >
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <!-- menu cash guard -->
                <li class="nav-item dropdown">
                    <p
                        class="h5 nav-link dropdown-toggle"
                        data-toggle="dropdown"
                    >
                        CASH GUARD
                    </p>
                    <ul class="dropdown-menu">
                        <li>
                            <p class="dropdown-item" routerLink="cash-guard">
                                PRODUCTOS
                            </p>
                            <ul class="submenu dropdown-menu">
                                <li>
                                    <a
                                        class="dropdown-item"
                                        routerLink="cash-guard/premium"
                                        >CashGuard Premium</a
                                    >
                                </li>
                                <li>
                                    <a
                                        class="dropdown-item"
                                        routerLink="cash-guard/unico"
                                        >Unico</a
                                    >
                                </li>
                                <li>
                                    <a
                                        class="dropdown-item"
                                        routerLink="cash-guard/compact"
                                        >Compact</a
                                    >
                                </li>
                                <li>
                                    <a
                                        class="dropdown-item"
                                        routerLink="cash-guard/renting"
                                        >Renting</a
                                    >
                                </li>
                                <li>
                                    <a
                                        class="dropdown-item"
                                        routerLink="cash-guard/click-collect"
                                        >Click & Collect</a
                                    >
                                </li>
                            </ul>
                        </li>
                        <li>
                            <p class="dropdown-item" routerLink="soporte">
                                SOPORTE
                            </p>
                            <ul class="submenu dropdown-menu">
                                <li>
                                    <a
                                        class="dropdown-item"
                                        routerLink="soporte/basic"
                                        >Soporte Basic</a
                                    >
                                </li>
                                <li>
                                    <a
                                        class="dropdown-item"
                                        routerLink="soporte/advanced"
                                        >Soporte Advanced</a
                                    >
                                </li>
                                <li>
                                    <a
                                        class="dropdown-item"
                                        routerLink="soporte/premium"
                                        >Soporte Premium</a
                                    >
                                </li>
                            </ul>
                        </li>
                        <li>
                            <p class="dropdown-item" routerLink="sectores">
                                SECTORES
                            </p>
                            <ul class="submenu dropdown-menu">
                                <li>
                                    <a
                                        class="dropdown-item"
                                        routerLink="sectores/hosteleria"
                                        >Hostelería</a
                                    >
                                </li>
                                <li>
                                    <a
                                        class="dropdown-item"
                                        routerLink="sectores/estaciones-servicio"
                                        >Estaciones de servicio</a
                                    >
                                </li>
                                <li>
                                    <a
                                        class="dropdown-item"
                                        routerLink="sectores/farmacias"
                                        >Farmacias</a
                                    >
                                </li>
                                <li>
                                    <a
                                        class="dropdown-item"
                                        routerLink="sectores/retails"
                                        >Retail</a
                                    >
                                </li>
                                <li>
                                    <a
                                        class="dropdown-item"
                                        routerLink="sectores/estancos"
                                        >Estancos</a
                                    >
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <!-- menu internet y marketing -->
                <li class="nav-item dropdown">
                    <p
                        class="h5 nav-link dropdown-toggle"
                        data-toggle="dropdown"
                    >
                        INTERNET Y MARKETING
                    </p>
                    <ul class="dropdown-menu">
                        <li>
                            <p
                                class="dropdown-item"
                                routerLink="desarrollo-medida"
                            >
                                DESARROLLO WEB A MEDIDA
                            </p>
                            <ul class="submenu dropdown-menu">
                                <li>
                                    <a
                                        class="dropdown-item"
                                        routerLink="desarrollo-medida/implantacion-software"
                                        >Implantación de Software</a
                                    >
                                </li>
                                <li>
                                    <a
                                        class="dropdown-item"
                                        routerLink="desarrollo-medida/aplicaciones-web"
                                        >Aplicaciones Web medida</a
                                    >
                                </li>
                                <li>
                                    <a
                                        class="dropdown-item"
                                        routerLink="desarrollo-medida/web-corporativa"
                                        >Web Corporativa</a
                                    >
                                </li>
                                <li>
                                    <a
                                        class="dropdown-item"
                                        routerLink="desarrollo-medida/diseno-grafico"
                                        >Diseño Gráfico</a
                                    >
                                </li>
                                <li>
                                    <a
                                        class="dropdown-item"
                                        routerLink="desarrollo-medida/mantenimiento"
                                        >Mantenimiento</a
                                    >
                                </li>
                            </ul>
                        </li>

                        <li>
                            <p
                                class="dropdown-item"
                                routerLink="marketing-online"
                            >
                                MARKETING ONLINE
                            </p>
                            <ul class="submenu dropdown-menu">
                                <li>
                                    <a
                                        class="dropdown-item"
                                        routerLink="marketing-online/seo-sem"
                                        >SEO / SEM</a
                                    >
                                </li>
                                <li>
                                    <a
                                        class="dropdown-item"
                                        routerLink="marketing-online/social-media"
                                        >Social Media</a
                                    >
                                </li>
                                <li>
                                    <a
                                        class="dropdown-item"
                                        routerLink="marketing-online/analitica-web"
                                        >Analítica Web</a
                                    >
                                </li>
                                <li>
                                    <a
                                        class="dropdown-item"
                                        routerLink="marketing-online/planes-marketing"
                                        >Planes Marketing</a
                                    >
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <!-- menu -->
                <li class="nav-item dropdown">
                    <p
                        class="h5 nav-link dropdown-toggle"
                        data-toggle="dropdown"
                    >
                        SERVICIO TÉCNICO
                    </p>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li>
                            <p
                                class="dropdown-item"
                                routerLink="servicio-tecnico"
                            >
                                SERVICIO TÉCNICO
                            </p>
                            <ul class="submenu submenu-left dropdown-menu">
                                <li>
                                    <a
                                        class="dropdown-item"
                                        routerLink="servicio-tecnico/auditorias"
                                        >Auditoría Informática</a
                                    >
                                </li>
                                <li>
                                    <a
                                        class="dropdown-item"
                                        routerLink="servicio-tecnico/redes"
                                        >Instalación de Redes, Wifi, VPN</a
                                    >
                                </li>
                                <li>
                                    <a
                                        class="dropdown-item"
                                        routerLink="servicio-tecnico/cloud-teletrabajo"
                                        >Soluciones Cloud y Teletrabajo</a
                                    >
                                </li>
                                <li>
                                    <a
                                        class="dropdown-item"
                                        routerLink="servicio-tecnico/recuperacion-datos"
                                        >Recuperación de Datos</a
                                    >
                                </li>
                            </ul>
                        </li>
                        <li>
                            <p class="dropdown-item" routerLink="mantenimiento">
                                MANTENIMIENTO
                            </p>
                            <ul class="submenu submenu-left dropdown-menu">
                                <li>
                                    <a
                                        class="dropdown-item"
                                        routerLink="mantenimiento/planes-mantenimiento"
                                        >Planes de Mantenimiento</a
                                    >
                                </li>
                                <li>
                                    <a
                                        class="dropdown-item"
                                        routerLink="mantenimiento/soporte-remoto"
                                        >Soporte Remoto</a
                                    >
                                </li>
                            </ul>
                        </li>
                        <li>
                            <p
                                class="dropdown-item"
                                routerLink="seguridad-informatica"
                            >
                                SEGURIDAD INFORMÁTICA
                            </p>
                            <ul class="submenu submenu-left dropdown-menu">
                                <li>
                                    <a
                                        class="dropdown-item"
                                        routerLink="seguridad-informatica/esset"
                                        >Distribuidor ESET</a
                                    >
                                </li>
                                <li>
                                    <a
                                        class="dropdown-item"
                                        routerLink="seguridad-informatica/firewall"
                                        >Firewall</a
                                    >
                                </li>
                                <li>
                                    <a
                                        class="dropdown-item"
                                        routerLink="seguridad-informatica/sistemas"
                                        >Seguridad de Sistemas</a
                                    >
                                </li>
                                <li>
                                    <a
                                        class="dropdown-item"
                                        routerLink="seguridad-informatica/backups"
                                        >Copias de Seguridad</a
                                    >
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <!-- .nav-menu -->
</header>
<!-- End Header -->
