<div class="h-50 w-75 card mx-auto my-5" *ngFor="let item of items">
    <div class="row no-gutters" [id]="item.id">
        <div class="col-md-4 px-auto py-2">
            <img class="img-fluid" [src]="item.imagen" [alt]="item.titulo" />
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <p class="card-title h2 text-wrap c-azul1 montserrat normal">
                    {{ item.titulo }}
                </p>
                <p
                    class="card-text h5 text-wrap c-azul2 montserrat fine"
                    *ngFor="let p of item.parrafos"
                >
                    {{ p }}
                </p>
            </div>
        </div>
    </div>
</div>
