<section id="error" class="card montserrat text-center">
    <img
        src="../../../../assets/img/items/error2.png"
        alt="error 404"
        class="card-img"
    />
    <div class="card-img-overlay">
        <h1 class="card-title h1 writting">¡ Error 404 !</h1>
        <h2 class="h3 card-text">¡Ups! La página no ha sido encontrada</h2>
        <a class="h6 card-text" routerLink="/home">
            <span class="writting"> </span>Volver a la página principal</a
        >
    </div>
</section>
