* {
    margin: 0;
    padding: 0;
    border: none;
}
h1 {
    font-size: 400%;
    color: var(--rojo);
}
h2 {
    font-size: 200%;
    color: var(--rojo);
}
a {
    color: var(--negro);
    text-align: center;
    font-size: 200%;
}
div {
    margin: 20% auto;
}
