.carrosel-item img {
    width: 40rem;
}
.card-title {
    border-bottom: 1px solid var(--azul4);
}

.card {
    border: 1px solid var(--azul4);
}

article img {
    width: 100%;
    height: 25rem;
}
