<section>
    <div id="carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img
                    src="../../../../assets/img/banner/empresa.jpg"
                    class="d-block w-100"
                    alt="banner de seccion empresa"
                />
            </div>
            <div class="carousel-item">
                <img
                    src="../../../../assets/img/banner/soluciones.jpg"
                    class="d-block w-100"
                    alt="banner de seccion soluciones"
                />
            </div>
            <div class="carousel-item">
                <img
                    src="../../../../assets/img/banner/cash-guarg.jpg"
                    class="d-block w-100"
                    alt="banner de seccion cashguard"
                />
            </div>
            <div class="carousel-item">
                <img
                    src="../../../../assets/img/banner/internet-marketing.jpg"
                    class="d-block w-100"
                    alt="banner de seccion internet y marketing"
                />
            </div>
            <div class="carousel-item">
                <img
                    src="../../../../assets/img/banner/servicio-tecnico.jpg"
                    class="d-block w-100"
                    alt="banner de seccion servicio tecnico"
                />
            </div>
            <div class="carousel-item">
                <img
                    src="../../../../assets/img/banner/contacto.jpg"
                    class="d-block w-100"
                    alt="banner de seccion contacto"
                />
            </div>
            <div class="carousel-item">
                <img
                    src="../../../../assets/img/banner/conexiones.jpg"
                    class="d-block w-100"
                    alt="banner de seccion redes"
                />
            </div>
        </div>
    </div>
</section>

<article class="w-75 mx-auto my-5">
    <section class="card rounded-lg borde my-2 w-100">
        <img
            src="./assets/img/banner/empresa2.jpg"
            class="card-img-top"
            alt="Empresa"
        />
        <div class="card-body">
            <h2
                class="card-title h1 mx-1 pb-2 text-wrap normal c-azul1 montserrat total"
            >
                Empresa
            </h2>
            <p
                class="card-text h5 my-sm-5 my-md-5 my-xl-2 my-lg-2 text-wrap fine montserrat c-azul2"
            >
                Dreamapp, somos una empresa formada por un equipo de
                profesionales, dispuesto a afrontar las necesidades que las
                nuevas tecnologías requieren, ofreciendo servicios informáticos,
                tanto a empresas como a particulares, de diseño web, marketing
                online, desarrollo de software, consultoría, hosting y dominios,
                diseño gráfico y servicio técnico. Dreamapp dispone de diversas
                unidades de negocio ampliamente especializadas en ofrecer
                soluciones y servicios informáticos eficientes en su
                correspondiente área de trabajo.
            </p>
            <p
                class="card-text h5 my-sm-5 my-md-5 my-xl-2 my-lg-2 text-wrap fine montserrat c-azul2"
            >
                Ofrece, además, la posibilidad de un servicio integral, en lo
                que a Tecnologías de la Información se refiere, desde el diseño
                del plan de sistemas de información hasta la implantación y
                mantenimiento de los mismos, para que cualquier empresa u
                organización pueda contar con la solución informática adecuada y
                óptima en todo momento, y en línea con sus objetivos. Con la
                implantación de nuestras soluciones tecnológicas en su empresa,
                tenemos como objetivos principales Minimizar los Costes,
                Aumentar la Productividad, Mejorar la Calidad de sus productos,
                Aumentar el Control sobre su empresa e Incrementar sus Ventas a
                través de nuevos canales como Internet.
            </p>
        </div>
    </section>
    <app-data-section></app-data-section>
    <section class="card rounded-lg borde my-2 w-100">
        <div class="card-body">
            <h2
                class="card-title h1 mx-1 pb-2 text-wrap normal c-azul1 montserrat"
            >
                Distribuidor oficial:
            </h2>
        </div>
        <img
            src="./assets/img/banner/distribuidor.jpg"
            class="card-img-top w-50 mx-auto"
            alt="Empresa"
        />
    </section>
</article>
