<section>
    <div id="carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img
                    src="../../../../assets/img/banner/empresa.jpg"
                    class="d-block w-100"
                    alt="banner de seccion empresa"
                />
            </div>
            <div class="carousel-item">
                <img
                    src="../../../../assets/img/banner/soluciones.jpg"
                    class="d-block w-100"
                    alt="banner de seccion soluciones"
                />
            </div>
            <div class="carousel-item">
                <img
                    src="../../../../assets/img/banner/cash-guarg.jpg"
                    class="d-block w-100"
                    alt="banner de seccion cashguard"
                />
            </div>
            <div class="carousel-item">
                <img
                    src="../../../../assets/img/banner/internet-marketing.jpg"
                    class="d-block w-100"
                    alt="banner de seccion internet y marketing"
                />
            </div>
            <div class="carousel-item">
                <img
                    src="../../../../assets/img/banner/servicio-tecnico.jpg"
                    class="d-block w-100"
                    alt="banner de seccion servicio tecnico"
                />
            </div>
            <div class="carousel-item">
                <img
                    src="../../../../assets/img/banner/contacto.jpg"
                    class="d-block w-100"
                    alt="banner de seccion contacto"
                />
            </div>
            <div class="carousel-item">
                <img
                    src="../../../../assets/img/banner/conexiones.jpg"
                    class="d-block w-100"
                    alt="banner de seccion redes"
                />
            </div>
        </div>
    </div>
</section>

<article class="p-5 m-5">
    <app-data-section></app-data-section>
</article>
