<footer
    class="d-flex justify-content-between text-center text-wrap py-5 pt-3 montserrat fine b-gris"
>
    <div class="w-25 ml-5 mr-3 d-inline">
        <p class="h4 d-block normal">Contactenos</p>
        <a class="h6 d-block" href="tel:+34988254076"
            ><i class="writting mr-2"></i>988 25 40 76</a
        >
        <a
            class="h6 d-block"
            href="https://goo.gl/maps/G8Ag7BTaVPv8Jbvt5"
            target="_blank"
            ><i class="writting mr-2"></i>Ramón Cabanillas 14, Oficina 2 -
            Ourense</a
        >
        <a class="h6 d-block" href="mailto:#"
            ><i class="writting mr-2"> </i>@dreamapps.es</a
        >
    </div>
    <div class="w-25 mx-3 d-inline">
        <p class="h4 d-block normal">Soluciones</p>
        <a class="h6 d-block" routerLink="#">Redes</a>
        <a class="h6 d-block" routerLink="#">Hosting</a>
        <a class="h6 d-block" routerLink="#">Certificados SSL</a>
        <a class="h6 d-block" routerLink="#">Backups remotos</a>
        <a class="h6 d-block" routerLink="#">TPV</a>
    </div>
    <div class="w-25 mx-3 d-inline">
        <p class="h4 d-block normal">Internet y Marketing</p>
        <a class="h6 d-block" routerLink="#">Webs Corporativas</a>
        <a class="h6 d-block" routerLink="#">Aplicaciones a medida</a>
        <a class="h6 d-block" routerLink="#">Diseño grafico</a>
        <a class="h6 d-block" routerLink="#">Analitica web</a>
        <a class="h6 d-block" routerLink="#">SEO/SEM</a>
    </div>
    <div class="w-25 ml-3 mr-5 d-inline">
        <p class="h4 d-block">Seguridad Informatica</p>
        <a class="h6 d-block" routerLink="#">Firewall</a>
        <a class="h6 d-block" routerLink="#">Distribuidor oficial de Esset</a>
        <a class="h6 d-block" routerLink="#">Copias de seguridad</a>
        <a class="h6 d-block" routerLink="#">Auditoria web</a>
        <a class="h6 d-block" routerLink="#">Recuperacion Datos</a>
        <a class="h6 d-block" routerLink="#">Soporte remoto</a>
    </div>
</footer>
