<footer class="pr-5 pl-5 pt-3 montserrat normal b-gris text-center">
    <div class="w-25 mr-3">
        <p class="h4">Contactenos</p>
        <a class="h5" href="tel:+34988254076"
            ><i class="writting"></i> 988 25 40 76</a
        >
        <a
            class="h5"
            href="https://goo.gl/maps/G8Ag7BTaVPv8Jbvt5"
            target="_blank"
            ><i class="writting"></i> C/Ramón Cabanillas 14, Ourense</a
        >
        <a class="h5" href="mailto:#"><i class="writting"> </i>...</a>
    </div>
    <div class="w-25 mr-3">
        <p class="h4">Soluciones</p>
        <a class="h5" routerlink="#">Redes</a>
        <a class="h5" routerlink="#">Hosting</a>
        <a class="h5" routerlink="#">Certificados SSL</a>
        <a class="h5" routerlink="#">Backups remotos</a>
        <a class="h5" routerlink="#">TPV</a>
    </div>
    <div class="w-25 mr-3">
        <p class="h4">Internet y Marketing</p>
        <a class="h5" routerlink="#">Webs Corporativas</a>
        <a class="h5" routerlink="#">Aplicaciones a medida</a>
        <a class="h5" routerlink="#">Diseño grafico</a>
        <a class="h5" routerlink="#">Analitica web</a>
        <a class="h5" routerlink="#">SEO/SEM</a>
    </div>
    <div class="w-25 mr-3">
        <p class="h4">Seguridad Informatica</p>
        <a class="h5" routerlink="#">Firewall</a>
        <a class="h5" routerlink="#">Distribuidor oficial de Esset</a>
        <a class="h5" routerlink="#">Copias de seguridad</a>
        <a class="h5" routerlink="#">Auditoria web</a>
        <a class="h5" routerlink="#">Recuperacion Datos</a>
        <a class="h5" routerlink="#">Soporte remoto</a>
    </div>
</footer>
