<footer
    class="d-flex justify-content-between text-center text-wrap py-4 h-25 montserrat fine b-gris mt-5"
>
    <div class="w-25 mx-3 d-inline">
        <p class="h5 d-block normal">Contactenos</p>
        <a class="h6 d-block" href="tel:+34988254076"
            ><i class="writting mr-2"></i>988 25 40 76</a
        >
        <a
            class="h6 d-block"
            href="https://goo.gl/maps/G8Ag7BTaVPv8Jbvt5"
            target="_blank"
            ><i class="writting mr-2"></i>Ramón Cabanillas 14, Oficina 2 -
            Ourense</a
        >
        <a class="h6 d-block" href="mailto:#"
            ><i class="writting mr-2"> </i>@dreamapps.es</a
        >
    </div>

    <div class="w-25 mx-3 d-inline">
        <p class="h5 d-block normal">Soluciones</p>
        <a class="h6 d-block" routerLink="servicios-informaticos/redes-sistemas"
            >Redes y sistemas</a
        >
        <a class="h6 d-block" routerLink="servicios-informaticos/ssl"
            >Certificados SSL</a
        >
        <a class="h6 d-block" routerLink="software-gestion">TPV</a>
    </div>

    <div class="w-25 mx-3 d-inline">
        <p class="h5 d-block normal">Internet y Marketing</p>
        <a
            class="h6 d-block"
            routerLink="desarrollo-medida/implantacion-software"
            >Implantación de software</a
        >
        <a class="h6 d-block" routerLink="desarrollo-medida/aplicaciones-web"
            >Aplicaciones web a medida</a
        >
        <a class="h6 d-block" routerLink="marketing-online/seo-sem">SEO/SEM</a>
    </div>

    <div class="w-25 ml-3 mr-5 d-inline">
        <p class="h5 d-block">Seguridad Informática</p>
        <a class="h6 d-block" routerLink="servicio-tecnico/auditorias"
            >Auditorías informáticas</a
        >
        <a class="h6 d-block" routerLink="servicio-tecnico/recuperacion-datos"
            >Recuperación de datos</a
        >
        <a class="h6 d-block" routerLink="/seguridad-informatica"
            >Seguridad informática</a
        >
    </div>
</footer>
