:root {
    --negro: #000000; /*negro*/
    --blanco: #ffffff; /*blanco*/
    --gris: #fbfbfb; /*gris*/
    --rojo: #c9441b; /*rojo*/
    --amarillo: #feed01; /*amarillo*/
    --verde: #299549; /*verde*/
    --azul1: #2c4870; /*azul oscuro*/
    --azul2: #285b88; /*azul oscuro 2*/
    --azul3: #009de0; /*azul claro*/
    --azul4: #0a96d9; /*azul claro 2*/
}

/*
 * FUENTES
 */
@import "assets/fonts/montserrat";

@font-face {
    font-family: "writting";
    src: url("assets/fonts/im-writting.ttf");
}

.writting {
    font-family: writting;
}

.montserrat {
    font-family: "Montserrat";
}

/*
 * GROSOR DE LETRAS
 */
.bold {
    font-weight: 700;
}

.normal {
    font-weight: 600;
}

.fine {
    font-weight: 500;
}

/*
 * COLOR DE FONDO Y COLOR DE TEXTO
 */
.c-negro {
    color: var(--negro);
}
.b-negro {
    background-color: var(--negro);
}
.c-blanco {
    color: var(--blanco);
}
.b-blanco {
    background-color: var(--blanco);
}
.c-gris {
    color: var(--gris);
}
.b-gris {
    background-color: var(--gris);
}
.c-rojo {
    color: var(--rojo);
}
.b-rojo {
    background-color: var(--rojo);
}
.c-amarillo {
    color: var(--amarillo);
}
.b-amarillo {
    background-color: var(--amarillo);
}
.c-verde {
    color: var(--verde);
}
.b-verde {
    background-color: var(--verde);
}
.c-azul {
    color: var(--azul);
}
.b-azul {
    background-color: var(--azul);
}
.c-azul1 {
    color: var(--azul1);
}
.b-azul1 {
    background-color: var(--azul1);
}
.c-azul2 {
    color: var(--azul2);
}
.b-azul2 {
    background-color: var(--azul2);
}
.c-azul3 {
    color: var(--azul3);
}
.b-azul3 {
    background-color: var(--azul3);
}
.c-azul4 {
    color: var(--azul4);
}
.b-azul4 {
    background-color: var(--azul4);
}

/*
 * DECORACIONES
 */

a:hover {
    font-weight: 700;
}
